@import 'style.css';

section {
  min-height: 100vh;
}

section#homepage {
  background-color: #F9BF5D;
}

#homepage{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: column wrap;
}

/*fade in animation*/
#homepage picture img{
  padding-bottom: 3rem;

  -webkit-animation: fade 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade 3s; /* Firefox < 16 */
        -ms-animation: fade 3s; /* Internet Explorer */
         -o-animation: fade 3s; /* Opera < 12.1 */
            animation: fade 3s;
}

    @-moz-keyframes fade { from{ opacity: 0; } to{ opacity: 1; } }
    @-webkit-keyframes fade { from {opacity: 0;} to{opacity: 1;} }
    @keyframes fade { from{opacity: 0;}to{opacity: 1;} }
    @-ms-keyframes fade{ from {opacity: 0;} to{opacity: 1;} }
    @-o-keyframes fade{from{opacity: 0;} to{opacity: 1;}}




#homepage .title p{
  font-family: 'blackout2_am';
  color: #36123B;

  text-align: center;

  padding: 0;
  margin: 0;
}

#homepage .title p.name{
  font-size: 4rem;
  padding-bottom: 1rem;
}

#homepage .title p.second{font-size: 2rem;}

section#work{ 
    background-image:
    linear-gradient(#F9BF5D,#36123B);

    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear from(#F9BF5D), to(#36123B));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(#F9BF5D,#36123B);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(#F9BF5D, #36123B);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient( #F9BF5D, #36123B);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(#F9BF5D, #36123B);

}


#work {  
  text-align: center;
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#work p{ 
  font-family: 'blackout2_am'; 
  color: white;
  font-size: 3rem;

  margin: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

section#about{ background-color: #36123B;}

#about{
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
}


#about p{
  padding-left: 4rem;
  padding-right: 4rem;
  
  font-family: 'folksregular';
  color:white;
  font-size: 1.5rem;
}

footer{background-color: #36123B;}


/*750px*/ @media all and (min-width: 45rem){
  
  #work .webLink {
    padding-top: 2rem;
  }

  #work p{font-size:5rem;}

  #about picture{
    padding-top: 2rem;
  }

  #about p{
    padding-bottom: 2rem;
    font-size: 1.8rem;
  }

  #about .des{
    padding-bottom: 3rem;
  }


}


/*1000px*/ @media all and (min-width:70rem){
  #homepage{flex-flow: row wrap;}

  #homepage picture{padding-right: 3rem;}
  #homepage .title p.name{font-size: 5rem;}

  #work{
    flex-flow: row wrap;
    justify-content: space-around;
  }

  /* spinny animation*/
  #work a picture img:hover{
    -webkit-animation:spin 2s linear;
    -moz-animation:spin 2s linear;
    animation:spin 2s linear;
    animation-timing-function: ease-out;
  }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    @-ms-keyframes spin { 100% { -ms-transform: rotate(360deg);} }
    @-o-keyframes spin { 100% { -o-transform: rotate(360deg);}}

  #about{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;

    padding-top: 5rem;
    padding-bottom: 3rem;

  }
  #about picture{
    padding: 0;
    padding-left: 2rem;
  }

  #about p{padding-right: 2rem;}

}