/*FONTS*/
@font-face {
    font-family: 'vanillaregular';
    src: url('../fonts/vanilla-webfont.woff2') format('woff2'),
         url('../fonts/vanilla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'soft_marshmallowregular';
    src: url('../fonts/soft_marshmallow-webfont.woff2') format('woff2'),
         url('../fonts/soft_marshmallow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*END OF FONTS*/

*{box-sizing: border-box;}

html{
	background-image: url(../images/background-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 100%
}

h1{font-family: 'soft_marshmallowregular';}

.nav{ font-family: 'vanillaregular';}

.nav{
	list-style:none;
	margin:0;
	padding:0;
	background-color: white;
	
	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.nav a{height:auto;}
.nav img{width:30%; margin:auto; height:auto;}

.nav a{
	color:pink;
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}

.title{text-align: center;}

/*800px*/@media all and (min-width: 50rem){
	.nav {
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	justify-content: space-around;
}
	.nav img{width:50%;}

	.nav a{font-size: 200%;}
	
}